@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Belleza&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 259 100% 97%; /* light, desaturated lavender */
    --foreground: 259 25% 25%;
    --card: 259 100% 99%;
    --card-foreground: 259 25% 25%;
    --popover: 259 100% 99%;
    --popover-foreground: 259 25% 25%;
    --primary: 259 100% 88%; /* soft lavender */
    --primary-foreground: 259 25% 25%;
    --secondary: 259 25% 90%;
    --secondary-foreground: 259 25% 25%;
    --muted: 259 25% 95%;
    --muted-foreground: 259 25% 45%;
    --accent: 259 25% 61%; /* muted violet */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 259 100% 88%;
    --input: 259 25% 95%;
    --ring: 259 100% 88%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 259 25% 10%;
    --foreground: 259 25% 85%;
    --card: 259 25% 15%;
    --card-foreground: 259 25% 85%;
    --popover: 259 25% 15%;
    --popover-foreground: 259 25% 85%;
    --primary: 259 25% 61%; /* muted violet */
    --primary-foreground: 0 0% 100%;
    --secondary: 259 25% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 259 25% 20%;
    --muted-foreground: 259 25% 65%;
    --accent: 259 100% 88%; /* soft lavender */
    --accent-foreground: 259 25% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 259 25% 25%;
    --input: 259 25% 25%;
    --ring: 259 25% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headline;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-card/50 backdrop-blur-lg border border-white/20 shadow-lg;
  }
}
