@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Belleza&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 30% 23%;
    --card: 0 0% 100%;
    --card-foreground: 215 30% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 30% 23%;
    --primary: 224 83% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 271 83% 54%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 98%;
    --muted-foreground: 215 14% 47%;
    --accent: 271 83% 54%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 224 83% 53%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Belleza', sans-serif;
    @apply font-headline;
  }

  body, p, span, div {
     font-family: 'Alegreya', serif;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-card/60 backdrop-blur-sm;
  }
}
